<a href="#" class="navbar-brand"><i class="fa fa-code-fork"></i>Argentina<b>Programa</b></a>
<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
</button>
<!-- Collection of nav links, forms, and other content for toggling -->
<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
    <!--	<form class="navbar-form form-inline">
			<div class="input-group search-box">								
				<input type="text" id="search" class="form-control" placeholder="Search here...">
				<span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
			</div>
		</form>-->
    <div class="navbar-nav ml-auto">
        <a href="#" class="nav-item nav-link active"><i class="fa fa-home"></i><span>Home</span></a>
        <a href="#" class="nav-item nav-link"><i class="fa fa-address-card"></i><span>Práctico 0</span></a>
        <a href="#" class="nav-item nav-link"><i class="fa fa-calculator"></i><span>Práctico 1</span></a>
        <a href="#" class="nav-item nav-link"><i class="fa fa-question-circle"></i><span>Práctico 2</span></a>
        <a href="#" class="nav-item nav-link"><i class="fa fa-question-circle"></i><span>Práctico 3</span></a>
        <a href="#" class="nav-item nav-link"><i class="fa fa-question-circle"></i><span>Práctico 4</span></a>
        <a href="#" class="nav-item nav-link"><i class="fa fa-briefcase"></i><span>Extras</span></a>
        <div class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img
                    src="./assets/img/icon.jpg" class="avatar" alt="Avatar">
                Marcos Keshishian <b class="caret"></b></a>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
                <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>
                <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
                <div class="divider dropdown-divider"></div>
                <a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
            </div>
        </div>
    </div>
</div>