main {
    display: grid;
    text-align: center;
}

section {
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    margin: 5px;
    padding: 20px;
}

.practico {
    background: rgb(0, 255, 248);
    background: linear-gradient(90deg, rgba(0, 255, 248, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 212, 255, 1) 100%);
}

p {
    background-color: brown;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -3px 3px rgb(54, 54, 54)
}

a {
    color: white;
}